.container{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 15rem;
}
.title {
  color: var(--primary);
  margin-bottom: 20px;
}

.description {
  margin-bottom: 30px;
}

.button-link {
  text-decoration: none;
}

.primary-button, .secondary-button {
  background-color: var(--primary);
  font-size: 0.8rem;
  color: var(--background);
  border: none;
  padding: 13px 25px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.primary-button:hover, .secondary-button:hover {
  background-color: var(--accent);
}
